.line {
  border: none;
  height: 2px;
  background-color: var(--theme-secondary);
  margin-top: 0.8rem;
}

.article {
  margin-top: 3.2rem;
}

.articleFooter {
  margin-top: 8rem;
}

.githubLink {
  color: var(--theme-secondary);
  font-size: 1.6rem;
  text-decoration: underline;
}

.githubIcon {
  font-size: 2rem;
}
