@use "../../styles/mediaQueries.scss" as *;

.articleList {
  display: grid;
  gap: var(--spacing-6);
  grid-template-columns: 1fr;

  @include largerThan("md") {
    grid-template-columns: 1fr 1fr;
  }
}
