@use "../../styles/mediaQueries.scss" as *;

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--c-gray-100);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  padding: var(--spacing-4) var(--spacing-6);

  @include isDarkMode {
    background-color: var(--c-gray-700);
  }
}

.publishedAt {
  color: var(--c-text-secondary);
  font-size: var(--font-size-sm);
}

.title {
  flex: 1;
  margin-top: var(--spacing-4);
}

.titleLink {
  display: block;
  line-height: 1.6;
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--c-text-primary);

  &:hover {
    text-decoration: underline;
  }

  @include largerThan("md") {
    font-size: var(--font-size-xl);
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: var(--spacing-2);
  margin-top: var(--spacing-8);
}

.zennLink {
  display: inline-flex;
  width: fit-content;
  margin-top: var(--spacing-8);
  align-items: center;
  gap: var(--spacing-2);

  &:hover {
    text-decoration: underline;
  }
}
