@use "../../styles/mediaQueries.scss" as *;

.switcher {
  position: relative;
  display: flex;
  gap: var(--spacing-1);
  align-items: center;
  padding: var(--spacing-1);
  border-radius: var(--radius-max);
  border: var(--border-1);
  border-color: var(--c-gray-200);
  box-shadow: var(--shadow-inner);

  &::before {
    content: "";
    position: absolute;
    left: var(--spacing-1);
    z-index: 0;
    border-radius: var(--radius-max);
    background-color: var(--c-primary-100);
    width: var(--spacing-10);
    height: var(--spacing-10);
    transition: transform 0.15s ease;
    box-shadow: var(--shadow-sm);
  }

  &[data-value="light"]::before {
    transform: translateX(0);
  }

  &[data-value="system"]::before {
    transform: translateX(calc(var(--spacing-10) + var(--spacing-1)));
  }

  &[data-value="dark"]::before {
    transform: translateX(calc((var(--spacing-10) + var(--spacing-1)) * 2));
  }

  @include isDarkMode {
    border-color: var(--c-white-alpha-300);

    &::before {
      background-color: var(--c-primary-400);
    }
  }
}

.switcherButton {
  z-index: 1;
  width: var(--spacing-10);
  height: var(--spacing-10);
  border-radius: var(--radius-max);
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--c-black-alpha-700);

  &:hover {
    background-color: var(--c-black-alpha-100);
  }

  @include isDarkMode {
    color: var(--c-white-alpha-700);

    &:hover {
      background-color: var(--c-white-alpha-100);
    }

    &[data-state="on"] {
      color: var(--c-black-alpha-800);
    }
  }
}
