.switcher {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  border-radius: 9999px;
  border: 1px solid var(--c-color-mode-switcher-border);

  &::before {
    content: "";
    position: absolute;
    left: 4px;
    z-index: 0;
    border-radius: 9999px;
    background-color: var(--c-primary-100);
    width: 40px;
    height: 40px;
    transition: transform 0.15s ease-out;
    background-color: var(--c-color-mode-switcher-option-bg-active);
    border: 2px solid var(--c-color-mode-switcher-option-border-active);
  }

  &[data-value="light"]::before {
    transform: translateX(0);
  }

  &[data-value="system"]::before {
    transform: translateX(calc(40px + 4px));
  }

  &[data-value="dark"]::before {
    transform: translateX(calc((40px + 4px) * 2));
  }
}

.switcherButton {
  z-index: 1;
  border-radius: 9999px;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--c-color-mode-switcher-option-text);
  background-color: transparent;
  border-color: transparent;
  width: 40px;
  height: 40px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;

  &:hover {
    background-color: var(--c-color-mode-switcher-option-bg-hover);
  }
  &[data-state="on"] {
    color: var(--c-color-mode-switcher-option-text-active);
  }
}
