@use "../../styles/system.scss" as *;

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 24px;
  background-color: var(--c-bg-footer);
  border-top: 1px solid var(--c-divider);
}

.links {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.externalLink {
  font-size: var(--font-size-sm);
  color: var(--c-text-primary);
  text-decoration: none;
}

.externalLink:hover {
  text-decoration: underline;
}

.description {
  font-size: var(--font-size-sm);
  color: var(--c-text-secondary);
  margin-bottom: 8px;
}

.copyright {
  font-size: var(--font-size-xs);
  color: var(--c-text-secondary);
}
