@use "../../styles/system.scss" as *;
@use "../../styles/mediaQueries.scss" as *;

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 24px;
  background-color: var(--c-bg-footer);
  border-top: 1px solid var(--c-divider);

  @include smallerThan(sm) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

.links {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.externalLink {
  font-size: var(--font-size-sm);
  color: var(--c-text-primary);
}

.externalLink:hover {
  text-decoration: underline;
}

.description {
  font-size: var(--font-size-sm);
  color: var(--c-text-secondary);
  margin-bottom: 8px;
}

.copyright {
  font-size: var(--font-size-xs);
  color: var(--c-text-secondary);
}

@include smallerThan(sm) {
  .footerContents {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .colorModeSwitcher {
    order: -1;
  }
}
