@use "../../styles/mediaQueries.scss" as *;
@use "../../styles/system.scss" as *;

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 56px;
  border-bottom: 1px solid var(--c-divider);
  backdrop-filter: blur(8px);
  z-index: 1;
}

.header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--c-bg-base);
  opacity: 0.8;
  z-index: -1;
}

.logoLink {
  font-size: var(--font-size-3xl);
  color: var(--c-text-primary);
  text-decoration: none;
  font-weight: 800;
  letter-spacing: -0.04em;
}

.logoLinkAccent {
  color: var(--c-primary-300);
}

.navigation {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navLink {
  font-size: var(--font-size-sm);
  color: var(--c-text-secondary);
  text-decoration: none;
  transition: color 0.2s;
  padding: 8px;
}

.navLink:hover {
  color: var(--c-text-primary);
}

.navLink[aria-current="page"] {
  font-weight: 700;
  color: var(--c-text-primary);
}

.githubLink {
  display: flex;
  color: var(--c-text-primary);
  font-size: var(--font-size-3xl);
  transition: color 0.2s;
}
