@use "../../styles/mediaQueries.scss" as *;
@use "../../styles/system.scss" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 56px;
  border-bottom: 1px solid var(--c-divider);
}

.logoLink {
  font-size: var(--font-size-3xl);
  color: var(--c-text-primary);
  text-decoration: none;
  font-weight: 800;
  letter-spacing: -0.04em;
}

.logoLinkAccent {
  color: var(--c-primary-300);
}

.navigation {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navLink {
  font-size: var(--font-size-sm);
  color: var(--c-text-secondary);
  text-decoration: none;
  transition: color 0.2s;
  padding: 8px;
}

.navLink:hover {
  color: var(--c-text-primary);
}

.navLink[aria-current="page"] {
  font-weight: 700;
  color: var(--c-text-primary);
}

.githubLink {
  display: flex;
  color: var(--c-text-primary);
  font-size: var(--font-size-3xl);
  transition: color 0.2s;
}
