@use "../../styles/mediaQueries.scss" as *;

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 64px 24px 128px;
  width: 100%;

  @include largerThan(md) {
    padding: 64px 40px 128px;
  }

  @include largerThan(lg) {
    padding: 64px 64px 128px;
  }
}
