@use "../../styles/mediaQueries.scss" as *;

.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 64px 24px 128px;
  width: 100%;

  @include largerThan(md) {
    padding: 64px 40px 128px;
  }
}
