@use "../../styles/system.scss" as *;

.cardRoot {
  display: flex;
  gap: 8px;
  height: 144px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--c-link-card-border);
  overflow: hidden;
  transition: background-color 0.2s, border-color 0.2s;

  &:hover {
    border-color: var(--c-link-card-border-hover);
    background-color: var(--c-link-card-bg-hover);
  }
}

.loadedMetadata {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  flex: 1;
  height: 100%;
}

.loadedMetadataTitle {
  @include lineClamp(2);
  font-weight: bold;
  word-break: break-all;
  font-weight: 500;
  color: var(--c-text-primary);
}

.loadedMetadataDescriptionContainer {
  flex: 1;
  margin-top: 8px;
}

.loadedMetadataDescription {
  @include lineClamp(2);
  font-size: var(--font-size-sm);
  color: var(--c-text-secondary);
  word-break: break-all;
}

.loadedMetadataSite {
  display: flex;
  align-items: center;
  gap: 8px;
}

.loadedMetadataSiteName {
  @include lineClamp(1);
  color: var(--c-text-secondary);
  font-size: var(--font-size-sm);
}

.loadedMetadataImageContainer {
  max-width: 40%;
  height: 144px;
}

.loadedMetadataImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.error {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--c-link-card-border);
  color: var(--c-text-primary);
  transition: background-color 0.2s, border-color 0.2s;
  &:hover {
    border-color: var(--c-link-card-border-hover);
    background-color: var(--c-link-card-bg-hover);
  }
}

.errorTitle {
  font-weight: 500;
}

.errorDescription {
  font-size: var(--font-size-sm);
  color: var(--c-text-secondary);
}

.skeletonTextContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  &:not(:first-of-type) {
    margin-top: 24px;
    flex: 1;
  }
}

.skeletonText {
  @include skeletonText;
}

.skeletonMetadata {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  padding: 8px 16px;
}

.skeletonTextShorter {
  @include skeletonText;
  width: 80%;
}

.skeletonSiteIcon {
  @include skeletonBase;
  width: 16px;
  height: 16px;
  border-radius: 2px;
}

.skeletonImage {
  @include skeletonBase;
  max-width: 40%;
  width: 256px;
  height: 100%;
}
