@use "../../styles/mediaQueries.scss" as *;

.tagLink {
  border-radius: var(--radius-md);
  min-width: var(--size-6);
  min-height: var(--size-6);
  display: inline-flex;
  align-items: center;
  padding-inline-start: var(--spacing-2);
  padding-inline-end: var(--spacing-2);
  font-size: var(--font-size-sm);
  font-weight: 500;
  background-color: var(--c-primary-100);
  color: var(--c-primary-800);
  line-height: 1.2;
  vertical-align: top;

  &:hover {
    text-decoration: underline;
  }

  @include isDarkMode {
    background-color: var(--c-primary-700);
    color: var(--c-primary-200);
  }
}
