@use "../../styles/mediaQueries.scss" as *;

.tagLink {
  border-radius: 4px;
  padding: 4px 8px;
  font-size: var(--font-size-xs);
  color: var(--c-tag-text);
  border: 1px solid var(--c-tag-border);
  background-color: var(--c-tag-bg);
  transition: border-color 0.2s, background-color 0.2s;
}

.tagLink:hover {
  border-color: var(--c-tag-border-hover);
  background-color: var(--c-tag-bg-hover);
}
