.layout {
  display: grid;
  grid-template-columns: 1fr 40rem;
  gap: 8rem;
}

.contents {
  overflow: hidden;
}

.sidemenuContainer {
  background-color: var(--theme-background);
}

.sidemenu {
  max-height: 100vh;
  top: 0;
  right: 0;
  overflow-y: auto;
  position: sticky;
  display: flex;
  flex-direction: column;
}

.aboutme {
  position: sticky;
  top: 0;
  background-color: var(--theme-background);
  z-index: 1;
}

.otherMenu {
  z-index: 0;
  flex: 1;
  overflow-y: auto;
}

.sidemenuOpenButton {
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;
  display: none;
  justify-content: center;
  align-items: center;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  background-color: var(--theme-secondary);
}

.menuIcon {
  font-size: 2.2rem;
  color: var(--theme-primary);
}

@media (max-width: 1200px) {
  .layout {
    grid-template-columns: 1fr 35rem;
  }
}

@media (max-width: 1000px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .sidemenuContainer {
    height: 100vh;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    transform: translateX(100%);
    opacity: 0;
    transition: 0.2s ease;
  }

  .sidemenuOpen {
    display: block;
    transform: translateX(0%);
    opacity: 1;
  }

  .sidemenuOpenButton {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
  }

  .showSidemenuOpenButton {
    opacity: 1;
    visibility: visible;
  }

  .sidemenu {
    padding: 0 0.8rem;
  }
}
