@mixin lineClamp($noOfLines) {
  display: -webkit-box;
  -webkit-line-clamp: $noOfLines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@keyframes skeletonAnimation {
  0% {
    border-color: var(--c-skeleton-before);
    background: var(--c-skeleton-before);
  }
  100% {
    border-color: var(--c-skeleton-after);
    background: var(--c-skeleton-after);
  }
}

@mixin skeletonBase {
  animation: 0.8s linear infinite alternate skeletonAnimation;
  opacity: 0.7;
}

@mixin skeletonText {
  @include skeletonBase;
  height: 8px;
  border-radius: 2px;
}

@mixin srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
