:root {
  --font-size-xs: 0.75rem; // 12px
  --font-size-sm: 0.875rem; // 14px
  --font-size-md: 1rem; // 16px
  --font-size-lg: 1.125rem; // 18px
  --font-size-xl: 1.25rem; // 20px
  --font-size-2xl: 1.5rem; // 24px
  --font-size-3xl: 1.75rem; // 28px
  --font-size-4xl: 2rem; // 32px
  --font-size-5xl: 2.5rem; // 40px

  --header-height: 64px;

  --c-primary-50: #faf5ff;
  --c-primary-100: #e9d8fd;
  --c-primary-200: #d6bcfa;
  --c-primary-300: #b794f4;
  --c-primary-400: #9f7aea;
  --c-primary-500: #805ad5;
  --c-primary-600: #6b46c1;
  --c-primary-700: #553c9a;
  --c-primary-800: #44337a;
  --c-primary-900: #322659;

  --c-text-primary: #d9d9e2;
  --c-text-secondary: #a4a5a9;
  --c-text-link: #3182ce;
  --c-text-link-visited: #805ad5;

  --c-bg-base: #0e0e0e;
  --c-bg-footer: #151517;

  --c-divider: #464646;

  --c-header-bg: var(--c-bg-base);
  --c-header-backdrop-filter: blur(8px);
  --c-header-opacity: 0.75;
  --c-header-logo-accent: var(--c-primary-300);

  --c-tag-text: var(--c-text-secondary);
  --c-tag-border: #3a3a3a;
  --c-tag-bg: rgb(154, 154, 154, 0.12);
  --c-tag-border-hover: #4f4f4f;
  --c-tag-bg-hover: rgb(154, 154, 154, 0.24);

  --c-article-card-bg: var(--c-bg-base);
  --c-article-card-border-width: 1px;
  --c-article-card-border: #303030;
  --c-article-card-border-hover: #4f4f4f;

  --c-color-mode-switcher-bg: var(--c-bg-base);
  --c-color-mode-switcher-border: var(--c-divider);
  --c-color-mode-switcher-option-text: var(--c-text-secondary);
  --c-color-mode-switcher-option-text-active: var(--c-text-primary);
  --c-color-mode-switcher-option-bg-hover: rgb(255, 255, 255, 0.1);
  --c-color-mode-switcher-option-bg-active: var(--c-primary-900);
  --c-color-mode-switcher-option-border-active: var(--c-primary-700);

  --c-focus-ring: var(--c-primary-600);

  --c-blockquote-text: var(--c-text-secondary);
  --c-blockquote-decoration: #494949;

  --c-inline-code-bg: #3d3b3b;
  --c-inline-code-text: var(--c-text-primary);

  --c-table-thead-border: #3a3a3a;
  --c-table-tbody-border: #202020;

  --c-link-card-border: #303030;
  --c-link-card-border-hover: #4f4f4f;

  --c-skeleton-before: #1a1a1a;
  --c-skeleton-after: #2a2a2a;

  &[data-color-mode="light"] {
    --c-text-primary: #101010;
    --c-text-secondary: #686868;
    --c-text-link: #316dce;
    --c-text-link-visited: #6b46c1;

    --c-bg-base: #ffffff;
    --c-bg-footer: #fafafa;

    --c-divider: #171717;

    --c-header-bg: #ffffff;
    --c-header-opacity: 1;
    --c-header-logo-accent: var(--c-primary-400);

    --c-tag-text: var(--c-text-primary);
    --c-tag-border: #3a3a3a;
    --c-tag-bg: rgb(0, 0, 0, 0);
    --c-tag-border-hover: #4f4f4f;
    --c-tag-bg-hover: rgb(0, 0, 0, 0.1);

    --c-article-card-bg: #f4f4f4;
    --c-article-card-border-width: 2px;
    --c-article-card-border: #171717;
    --c-article-card-bg-hover: rgb(0, 0, 0, 0.15);
    --c-article-card-border-hover: #171717;

    --c-color-mode-switcher-bg: var(--c-bg-base);
    --c-color-mode-switcher-border: var(--c-divider);
    --c-color-mode-switcher-option-text: var(--c-text-primary);
    --c-color-mode-switcher-option-text-active: var(--c-text-primary);
    --c-color-mode-switcher-option-bg-hover: #17171720;
    --c-color-mode-switcher-option-bg-active: #17171715;
    --c-color-mode-switcher-option-border-active: #171717;

    --c-focus-ring: var(--c-primary-300);

    --c-blockquote-text: var(--c-text-secondary);
    --c-blockquote-decoration: #b8b8b8;

    --c-inline-code-bg: #e6e9ee;
    --c-inline-code-text: var(--c-text-primary);

    --c-table-thead-border: #171717;
    --c-table-tbody-border: #dedede;

    --c-link-card-border: #171717;
    --c-link-card-border-hover: #171717;
    --c-link-card-bg-hover: #17171715;

    --c-skeleton-before: #fcfcfc;
    --c-skeleton-after: #e0e3e8;
  }
}
