:root {
  --font-size-xs: 0.75rem; // 12px
  --font-size-sm: 0.875rem; // 14px
  --font-size-md: 1rem; // 16px
  --font-size-lg: 1.125rem; // 18px
  --font-size-xl: 1.25rem; // 20px
  --font-size-2xl: 1.5rem; // 24px
  --font-size-3xl: 1.75rem; // 28px
  --font-size-4xl: 2rem; // 32px
  --font-size-5xl: 2.5rem; // 40px

  --c-primary-50: #faf5ff;
  --c-primary-100: #e9d8fd;
  --c-primary-200: #d6bcfa;
  --c-primary-300: #b794f4;
  --c-primary-400: #9f7aea;
  --c-primary-500: #805ad5;
  --c-primary-600: #6b46c1;
  --c-primary-700: #553c9a;
  --c-primary-800: #44337a;
  --c-primary-900: #322659;

  --c-text-primary: #f1f1f4;
  --c-text-secondary: #b5b7be;
  --c-text-link: #3182ce;
  --c-text-link-visited: #805ad5;

  --c-bg-base: #0e0e0e;
  --c-bg-footer: #151517;

  --c-divider: #464646;

  --c-tag-text: var(--c-text-secondary);
  --c-tag-border: #3a3a3a;
  --c-tag-bg: rgb(154, 154, 154, 0.12);

  --c-article-card-bg: var(--c-bg-base);
  --c-article-card-border: #303030;

  --c-color-mode-switcher-bg: var(--c-bg-base);
  --c-color-mode-switcher-border: var(--c-divider);
  --c-color-mode-switcher-option-text: var(--c-text-secondary);
  --c-color-mode-switcher-option-text-active: var(--c-text-primary);
  --c-color-mode-switcher-option-bg-active: var(--c-primary-900);
  --c-color-mode-switcher-option-border-active: var(--c-primary-700);

  --c-focus-ring: var(--c-primary-300);
}
