.article {
  max-width: 800px;
  margin: 0 auto;
}

.articleTitle {
  font-weight: bold;
  font-size: var(--font-size-3xl);
  letter-spacing: -0.01em;
  margin-bottom: 64px;
}

.createdAt {
  font-size: var(--font-size-sm);
  color: var(--c-text-secondary);
  margin-bottom: 12px;
}

.tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.contentDivider {
  margin: 80px 0;
}

.tweetLink {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: var(--c-text-primary);
  padding: 16px 0;
  height: 40px;
  margin-bottom: 16px;
}

.articlesLink {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: var(--c-text-primary);
  font-size: var(--font-size-sm);
  padding: 16px 0;
  height: 40px;
}

.tweetLink:hover,
.articlesLink:hover {
  text-decoration: underline;
}
