@use "../../styles/system.scss" as *;
@use "../../styles/mediaQueries.scss" as *;

.container {
  @include appContainer;
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-16);
}

.articleHeader {
  @include vStack;
  gap: var(--spacing-8);
}

.articleTitle {
  font-weight: bold;
  font-size: var(--font-size-2xl);
  line-height: 1.6;
}

.contentDivider {
  opacity: 0.6;
  border: 0;
  border-bottom: var(--border-1);
  border-bottom-color: var(--c-gray-200);
  width: 100%;
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
  @include isDarkMode {
    border-bottom-color: var(--c-white-alpha-300);
  }
}

.datetimes {
  @include vStack;
  gap: var(--spacing-1);
}

.datetime {
  font-size: var(--font-size-sm);
  color: var(--c-text-secondary);
}

.tags {
  @include wrapItems;
  list-style: none;
}

.articleContent {
  margin-bottom: var(--spacing-16);
}

.adsense {
  margin-bottom: var(--spacing-16);
}

.externalLinks {
  margin-bottom: var(--spacing-16);
}

.shareButtons {
  @include wrapItems;
}

.twitterButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);
  border-radius: var(--radius-md);
  font-weight: bold;
  color: white;
  background-color: var(--c-twitter-500);
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
  height: var(--size-10);
  transition: background-color 0.3s;
  &:hover {
    background-color: var(--c-twitter-600);
  }
  @include isDarkMode {
    color: var(--c-gray-800);
    background-color: var(--c-twitter-200);
    &:hover {
      background-color: var(--c-twitter-300);
    }
  }
}

.githubLink {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-2);
  color: var(--c-text-secondary);
  margin-top: var(--spacing-6);
}

.githubIcon {
  font-size: var(--font-size-2xl);
}

.linkToArticles {
  @include center;
}
