@use "../../styles/mediaQueries.scss" as *;
@use "../../styles/system.scss" as *;

.page {
  @include appContainer;
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-16);
}

.titleSection {
  @include hStack;
  margin-bottom: var(--spacing-4);
}

.rssFeedLink {
  display: inline-grid;
  place-items: center;
  width: var(--size-10);
  height: var(--size-10);
  font-size: var(--font-size-2xl);
  border-radius: var(--radius-md);
  transition: background-color 0.2s;
  &:hover {
    background-color: var(--colors-black-alpha-100);
  }

  @include isDarkMode {
    &:hover {
      background-color: var(--colors-white-alpha-200);
    }
  }
}

.articleList {
  margin-top: var(--spacing-8);
}
