@use "../../styles/system.scss" as *;

.container {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-16);

  @include appContainer;
}

.title {
  margin-bottom: var(--spacing-8);
}

.linkToArticles {
  @include center;
  margin-top: var(--spacing-12);
}
