.container {
  text-align: center;
}

.heading {
  margin: 64px;
  font-size: var(--font-size-4xl);
  font-weight: bold;
}

.homeLink {
  display: block;
  margin-top: 48px;
  padding: 16px;
  text-decoration: underline;
  transition: color 0.2s;
  &:hover {
    color: var(--c-primary-300);
  }
}
