@use "../../styles/system.scss" as *;

.container {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-16);
}

.title {
  margin-bottom: var(--spacing-4);
}

.articleList {
  margin-top: var(--spacing-8);
}
