@use "../../styles/system.scss" as *;

.title {
  margin-bottom: 40px;
}

.articleList {
  list-style: none;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.articleListItem {
  display: block;
  border-radius: 4px;
  overflow: hidden;
  transition: opacity 0.2s;
}

.articleListItem:hover {
  opacity: 0.85;
}
