.root {
  display: flex;
  height: 20rem;
}

.image {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  margin-right: 3.2rem;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  flex: 1;
  font-size: 2.4rem;
  font-weight: normal;
  overflow: hidden;
}

.titleLink {
  line-height: 1.8;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
}

.metaInfo > :not(:first-child) {
  margin-top: 1.6rem;
}

@media (max-width: 700px) {
  .root {
    height: 12rem;
  }

  .image {
    width: 12rem;
    height: 12rem;
    margin-right: 0.4rem;
  }

  .title {
    font-size: 1.6rem;
  }

  .titleLink {
    line-height: 1.6;
    -webkit-line-clamp: 3;
  }

  .metaInfo > :not(:first-child) {
    margin-top: 0.4rem;
  }
}
