.root {
  color: var(--theme-secondary);
  display: flex;
  align-items: center;
}

.icon {
  font-size: 1.4rem;
  margin-right: 0.8rem;
}

.datetime {
  font-size: 1.6rem;
}

@media (max-width: 700px) {
  .datetime {
    font-size: 1.2rem;
  }
}
