.root {
  max-width: 40rem;
  height: 7.2rem;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  border: 1px solid var(--theme-secondary);
  transition: 0.4s ease;
}

.titleContainer {
  flex: 1;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.4rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.iconWrapper {
  margin-right: 1.6rem;
}

.icon {
  font-size: 2.4rem;
  color: var(--theme-secondary);
  transition: 0.4s ease;
}

.root:hover {
  text-decoration: none;
  border-color: var(--theme-accent);
}

.root:hover .iconWrapper .icon {
  color: var(--theme-accent);
}
