.title {
  position: sticky;
  top: 0;
}

.tagsIcon {
  font-size: 1.6rem;
}

.tags {
  overflow: scroll;
}

.tagLink {
  padding: 0 0.8rem 0 4rem;
  border-bottom: 2px dashed var(--theme-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.8rem;
  color: var(--theme-primary);
}

.tagLink:hover {
  text-decoration: underline var(--theme-secondary);
}

.tagName {
  font-size: 1.6rem;
}

.count {
  margin-left: 0.8rem;
  font-size: 1.2rem;
  color: var(--theme-secondary);
}

.chevronIcon {
  width: 0.6rem;
  height: 1rem;
  color: var(--theme-secondary);
  transition: 0.4s ease;
}

.tagLink:hover .chevronIcon {
  transform: translateX(-0.4rem);
}
