.title {
  position: sticky;
  top: 0;
}

.icon {
  font-size: 1.8rem;
}

.toc {
  font-size: 1.6rem;
}

.list {
  padding-left: 2.4rem;
}

.link {
  display: block;
  width: 100%;
  min-height: 3.6rem;
  line-height: 3.6rem;
}
