.root {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.eyeCatchContainer {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.eyeCatch {
  width: 100vw;
  height: 100vh;
}

.eyeCatchWrapper {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: relative;
  border-bottom: 1px solid var(--theme-accent);
}

.scrollDownContainer {
  width: 8rem;
  height: 38rem;
  position: absolute;
  bottom: 0;
  right: 0;
  animation: fadeInAfter1step 2s ease;
}

.scrollDown {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(90deg) translateY(-100%);
  transform-origin: 0 0;
  width: 30rem;
  padding-bottom: 0.8rem;
  font-size: 2rem;
  border-bottom: 2px solid var(--theme-secondary);
}

.mainContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--theme-background);
}

.main {
  flex: 1;
}

@keyframes fadeInAfter1step {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
